/* GENERAL */
h1, h2, h3, h4, h5, h6{
    font-family: "owners-xwide", sans-serif!important;
}
.btn-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 6px;
}

/* HEADER */
header-menu .overflow-menu::part(list){
    gap: 75px;
}
.header-actions__action svg{
    width: 24px!important;
    height: 24px!important;
}
.header-actions__cart-icon .cart-bubble__text, .cart-drawer__heading .cart-bubble__text{
    font-size: 12px;
    font-weight: 700!important;
}

/* HOME PAGE */
/* -- code points sec -- */
.code-points-area .code-point:nth-child(1), .code-points-area .code-point:nth-child(2), .code-points-area .code-point:nth-child(3){
    border-right: 1px solid #E3DDDA;
}
.code-point p{
    min-height: 52px;
}